@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: auto;
}

body {
  padding-top: env(safe-area-inset-top);
}

.force-small-font {
  font-size: 0.75rem !important;
}

/* styles.css or index.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* For vertical scrollbars */
  height: 8px; /* For horizontal scrollbars */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c0c0c0; /* Gray thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Darker gray on hover */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #c0c0c0 #f0f0f0; /* thumb and track color */
}
